/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/ext/scws/*.o
/ext/scws/*.bundle
/lib/scws4r/scws4r.bundle
# rspec failure tracking
.rspec_status
/ext/**/*.o
/ext/**/*.bundle
